

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


.container {
    width: 100%;
    background-color: hsl(222, 26%, 31%);
    height: 90vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* ####### */

.theme {
    background-color: hsl(222, 26%, 31%);
    color: aliceblue;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    height: 70px auto;
    width: 400px ;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 30px;
}

.themes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    cursor: pointer;
}

.themeNo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    font-size: 15px;
}

.btns {
    background-color: hsl(220, 88%, 10%);
    height: 20px;
    width: 80px;
    border-radius: 9px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    /* padding: 0 10px; */
}

.btn {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    padding: 2px;
}

.btn1 {
    background-color: red;
    /* color: ;     */
}
.btn1.active {
    opacity: 0;
}

.btn2 {
    background-color: orangered;
    /* display: none; */
    opacity: 0;
}
.btn2.active {
    opacity: 1;
}

.btn3 {
    background-color: rgb(74, 248, 190);
    /* display: none;     */
    opacity: 0;
}
.btn3.active {
    opacity: 1;
}


/* ################################################################## */

.result {
    background-color: hsl(220, 88%, 10%);
    height: 70px;
    width: 400px ;
    border-radius: 10px;
    padding: 20px;
}

/* ################################################################### */
.numerics {
    background-color: hsl(220, 88%, 10%);
    height: 350px;
    width: 400px ;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}


.row button {
    padding: 3px 10px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    /* color: rgb(66, 75, 78); */
    border-color: aliceblue;
    width: 24%;
    height: 55px;
    cursor: pointer;
}

.del, .reset {
    background-color: lightslategray;
    color: white;
    /* color: rgb(189, 5, 189); */
    /* border: 1px solid lightslategray; */
}
.equals {
    background-color: red;
    color: aliceblue;
    border: 1px solid red;
}

.row5 {
    display: flex;
    gap: 10px;
}
.row5 button {
    width: 50%;
}







/* ##### */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 700px) {
    .container{
        width: 100%;
        padding: 10px 10px;
        margin: 0 ;
        height: 100vh;
    }
    .theme, .numerics, .result {
        /* display: flex; */
        width:  100%;
    }

    .numerics {
        padding: 10px;
    }
    .row button {
        width: 21%;
        height: 45px;
        margin: 0 5px;
    }

    .row5 button {
        width: 50%;
    }
}